body {
    background-color: #b8bac8ff;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%; 
}

main { 
    display: flex;
    justify-content: center;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 50px;
    height: 100px;
    overflow: hidden;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    list-style: none;
}

li a {
    padding: 40px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #595959;
}

li a:hover {
    color: #64d810;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    cursor: pointer;
}

li a.active  {
    color:#64d810;
    cursor: default;
    
}

label {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #595959;
}

input {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #c1ef9fff;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    color: #595959;
}

textarea {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #c1ef9fff;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    color: #595959;
}

h6 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: #64d810;
    padding-left: 50px;
}

.fa-solid, .fa-envelope {
    font-size: 150px;
}

.label-and-input {
    margin: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    width: 40%;
    background:  white;
    margin: 10px;
    border-radius: 5px;
}


button {
    background-color: #b8bac8ff;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #c1ef9fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    color: #595959;
    max-width: 250px;
    min-width: 150px;
    height: 70px;
}

button:hover {
    background-color: #c1ef9fff;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.join {
    color: #595959;
}

.join, .getStarted {
    background-color: #c1ef9fff;
}

.join:hover, .getStarted:hover {
    color: #64d810;
    cursor: pointer;
}

.signIn {
    background-color: white;
}

.section1 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 1000px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    color: #595959;
    padding-left: 50px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.5;
    color: #595959;
    padding-left: 50px;
}

.banner {
    position: relative;
}

.green {
    color: #46970b;
}

.CountStatusBar p{
    padding: 50px 0 50px 0;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #595959;
    font-weight: 400;
    cursor: pointer;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #46970b;
    font-weight: 600;
}

h5:hover {
    color: #64d810;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white; 
}

i {
    font-size: 30px;
    padding: 10px;
}

.fa-brands:hover {
    color: #64d810;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    cursor: pointer;
}

footer li {
    padding: 24px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #595959;
}

footer li:hover {
    color: #64d810;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    cursor: pointer;
}

footer li.active  {
    color:#64d810;
    cursor: default;
    
}